<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="Developer Agency, Web Developer, Mobile Apps Developer Jakarta, Design UI/UX, web agency, web design, web design jakarta, website design, web designer, website designer, Mobile Apps Developement, Website Developement">
    <meta name="description" content="DevHouse ID is developers agency focus on  Website , Mobile Apps & UI/UX. Our house located on Apartment semanggi Central Jakarta . 
    ">
    <title>Klana | Experience Authentic Indonesia</title>
    <link rel="shortcut icon" href="assets/images/icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/screen.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/font.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/jquery.datetimepicker.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/foundation-icons/foundation-icons.css" />
    <script>
       window.addEventListener("load",function(){
         var load_screen = document.getElementById("preload");
         document.body.removeChild(load_screen) 
       }) 
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128050846-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128050846-1');
    </script>
</head>
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5X7FK2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="preload" id="preload">
        <img class="img-fluid centered" src="/assets/images/load.gif" />
    </div>
                    
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul>
                        <li><a href="tel:+6281295009910"><i class="step fi-telephone size-36"></i> +62812-9500-9910</a></li>
                        <li><a href="mailto:fadil.nylon@gmail.com?Subject=Hello%20DevHouseID"><i class="step fi-mail size-36"></i> devhouseid99@gmail.com</a></li>
                        <li><a href="#"  data-toggle="modal" data-target="#exampleModal"><%=translation.NEED_MEET%><i style="color:#FF6510" class="fas fa-question-circle"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-4 socmed">
                    <ul style="float:right;">
                        <li><a href="http://www.facebook.com/devhouse.id"><i class="step fi-social-facebook size-48"></i></a></li>
                        <li><a href="http://www.instagram.com/devhouse.id"><i class="step fi-social-instagram size-48"></i></a></li>
                        <li><a href="http://www.linkedin.com/company/devhouseid"><i class="step fi-social-linkedin size-48"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>   
    <header>
       
        <nav class="navbar container navbar-expand-lg hold-top">
            <div class="">
                <a class="navbar-brand" href="/">
                    <img src="/assets/images/new_logo.png" alt="devHouse ID Logo">
                </a>

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mobileNavBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
            </div>
            
            <div class="collapse navbar-collapse" id="mobileNavBar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#whyus">Why Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/maintenance">Our Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/maintenance">Our Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link <%=(lang=="id" ? "id":"en")%>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item enDR muli-semi-bold" href="/?clang=en">en</a>
                            <a class="dropdown-item idDR muli-semi-bold" href="/?clang=id">id</a>
                        </div>
                    </li>
                </ul>
            </div>
            

        </nav>
        
    </header>

    
<!-- Quotation Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header" style="background-color:#fe3; color:#335578">
        <h5 class="modal-title opensans-bold muli-semi-bold" id="exampleModalLabel"><%=translation.CONTACT_FORM_HEADER%></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="/contact" id="contact-form" method="post" role="form">
            <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="detail"  class="opensans-bold mb-2 muli-light"><%=translation.PLEASE_YOUR_NAME%></label>
                                <input class="form-control muli-reg" required name="name">
                            </div>
                            <div class="form-group">
                                <label for="detail"  class="opensans-bold mb-2 muli-light"><%=translation.YOUR_EMAIL%></label>
                                <input class="form-control muli-reg" required name="email">
                            </div>
        
                            <div class="form-group">
                                <label for="category " class="opensans-bold mb-2 muli-light"><%=translation.Tipe_Project%></label>
                                <select class="form-control muli-reg" required name="category" id="category">
                                    <option>Mobile Apps</option>
                                    <option>Web Apps</option>
                                    <option>UI & UX</option>
                                    <option>Others</option>
                                </select>
                            </div>
        
                            <div class="form-group">
                                <label for="detail"  class="opensans-bold mb-2 muli-light"><%=translation.A_GLANCE%></label>
                                <textarea class="form-control opensans-reg muli-reg" placeholder="<%=translation.A_GLANCE_DETAIL%>" required  id="detail" name="detail" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hello">
                                <p class="muli-light"> <%=translation.READY_CALL%> <%=translation.THE_DATE%> <span><%=translation.BOOKS%></span>
                                    <img class="centered" width="100" src="/assets/images/arrow-contact.png">
                                </p>   
                                
                            </div>
                            <img class="fadil" width="100" src="/assets/images/teams/fadil@2x.png">
                            
                            <div class="datepick">
                                <input id="datetimepicker" name="date" type="text" >
                            </div>
                            
                        </div>
                    </div>
                    
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary muli-bold btn-grad-blue ">Call Us!</button>
            </div>
        </form>
        </div>
    </div>
</div>
